* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

li {
  list-style: none;
}

@media (min-height: 500px) {
  #container-chatMessages_box {
    height: 531px;
  }
}

@media (min-height: 760px) {
  #container-chatMessages_box {
    height: 700px;
  }
}

.login-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 200px 1fr;
  height: 100vh;
}

.middle-up {
  grid-column: 1 / -1;
  grid-row: 1/2;
  position: relative;
  background: #1a616e;
  background: linear-gradient(90deg, #1a616e 0%, #095779 35%, #1e9592 100%);
}

.container-form {
  background-color: #fff;
  display: flex;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 2rem;
  -webkit-box-shadow: 1px 4px 14px -4px #00272b;
  -moz-box-shadow: 1px 4px 14px -4px #00272b;
  box-shadow: 1px 4px 14px -4px #00272b;
}

.container-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-form form input {
  margin-bottom: 1rem;
  padding: .5rem 0;
  width: 100%;
  background-color: #c3dddd;
  outline: none;
}

#stroke {
  bottom: 0;
  left: 0;
  position: absolute;
  fill: #1a616e;
}

.container-chat {
  background: #f2f6f8;
  background: -moz-linear-gradient(left, #f2f6f8 0%, #b5c6d0 0%, #e0eff9 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f2f6f8), color-stop(0%, #b5c6d0), color-stop(100%, #e0eff9));
  background: -webkit-linear-gradient(left, #f2f6f8 0%, #b5c6d0 0%, #e0eff9 100%);
  background: -o-linear-gradient(left, #f2f6f8 0%, #b5c6d0 0%, #e0eff9 100%);
  background: -ms-linear-gradient(left, #f2f6f8 0%, #b5c6d0 0%, #e0eff9 100%);
  background: linear-gradient(to right, #f2f6f8 0%, #b5c6d0 0%, #e0eff9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 30px 1fr 30px;
  grid-gap: 10px;
}

.container-chat_box {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #fff;
  opacity: .7;
  display: grid;
  -webkit-box-shadow: -1px 2px 5px 1px #636363;
  -moz-box-shadow: -1px 2px 5px 1px #636363;
  box-shadow: -1px 2px 5px 1px #636363;
}

.container-chat_box_window {
  display: flex;
  flex-direction: column;
}

.container-chat_box .window-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 0;
}

.container-chat_box .window-mainchat {
  display: flex;
  flex: 1;
}

.container-chat_box .window-sidebar-left {
  flex: 1;
  border: 1px black solid;
}

.container-chat_box .window-sidebar-right {
  flex: 1;
  border: 1px black solid;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.container-chat_box .window-sidebar-right_users {
  flex: 1;
}

.container-chat_box .window-sidebar-right_chats {
  flex: 1;
}

.container-chat_box .window-sidebar-right_headline {
  border-bottom: solid 1px black;
}

.container-chat_box .window-sidebar-right .online-user {
  padding-left: 1rem;
  cursor: pointer;
}

.container-chat_box .window-sidebar-right .online-user::before {
  content: '';
  display: inline-block;
  width: 7.5px;
  height: 7.5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 50%;
  background-color: #6feb3e;
}

.container-chat_box #container-chatMessages {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.container-chat_box #container-chatMessages_box {
  display: flex;
  overflow: scroll;
  flex: 1;
  padding-left: .5rem;
}

.container-chat_box #container-chatMessages_box .chatMessages p, .container-chat_box #container-chatMessages_box .chatMessages span {
  color: black;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

.container-chat_box #inputText {
  display: flex;
  align-self: center;
  width: 100%;
}

.container-chat_box #inputText input[type="text"] {
  flex: 3;
  padding: .5rem 0;
  outline: none;
}

.container-chat_box #inputText input[type="submit"] {
  flex: 1;
  padding: .5rem 0;
}
